<h1>Welcome to the Bookmark Manager</h1>
<h2>Links</h2>
<div class="links-container">
  <ul id="links">
    <% @links.each do |link| %>
      <%= partial :link, locals: {link: link} %>
    <% end %>
  </ul>
</div>
